.root-container-full {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.map-container {
    width: 50%;
    height: 90%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.map-img {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 115%;
    height: 100%;
}
